@media ( max-width: 767px ) {
.blue {background-color: #67B3DD; height: 100px;}
.green {background-color: #9EE062; height: 100px;}
.yellow {background-color: #FEDF6B; height: 100px;}
.red {background-color: #FC302D; height: 100px;}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
header, section, article{
    margin: 20px 0px;
}
article:nth-child(n+3){display: none;}
}